
<form method="post" action="/account/logout">


    Welcome <span id="spnUserId">@WebSecurity.CurrentUserName</span>! &nbsp;&nbsp;&nbsp;

    <input type="submit" class="btn btn-primary" value="Logout" />

</form>
