
<div id="productDetails">
    <div class="row divRowParent" >
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <h4><span class="spnText showInit" id="spnProductSku"></span><span class="spnText showInit" id="spnProductDesc"></span></h4>
        </div>
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Associated Product</label></div>
        <div style="margin-top:20px" class="col-sm-5 ">
            <span class="spnText showInit" id="spnOldProduct"></span>
        </div>

    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4">
            <label class="col-form-label">Manufacturer</label>
        </div>
        <div style="margin-top:20px" class="col-sm-5 ">
            <span class="spnText showInit" id="spnManufacturer"></span>
      
        </div>
      
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Brand</label></div>
        <div style="margin-top:20px" class="col-sm-5 ">
            <span class="spnText showInit" id="spnBrand"></span>
             
        </div>
      
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Category 1</label></div>
        <div style="margin-top:20px" class="col-sm-5">
           <span id="spnCtgry1" class="spnText showInit"></span>
             
        </div>
    
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Category 2</label></div>
        <div style="margin-top:20px" class="col-sm-5">
            <span id="spnCtgry2" class="spnText showInit"></span>
               
        </div>
      
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Category 3</label></div>
        <div style="margin-top:20px" class="col-sm-5">
         <span id="spnCtgry3" class="spnText showInit"></span>
            
        </div>
      
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Inventory Type</label></div>
        <div style="margin-top:20px" class="col-sm-5 ">
           <span class="spnText showInit" id="spnType"></span>
            
        </div>
       
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">UPC</label></div>
        <div style="margin-top:20px" class="col-sm-5 ">
           
             <span class="spnText showInit" id="spnUPC"></span> 
            @*<div class="col-sm-5" style="margin-top:10px">
                <span><input type="checkbox" id="ckNoUPC" disabled />&nbsp;No UPC</span>
            </div>*@
        </div>
      
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Vendor Id</label></div>
        <div style="margin-top:20px" class="col-sm-5 ">
            <span class="spnText showInit" id="spnVendor"></span>
             
        </div>
      
    </div>

    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Vendor Part No</label></div>
        <div style="margin-top:20px" class="col-sm-5">
            <span class="spnText showInit" id="spnVendorPartNo"></span>
        </div>

    </div>

    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Cost</label></div>
        <div style="margin-top:20px" class="col-sm-5 ">
            <span class="spnText showInit" id="spnCost"></span>
              
        </div>
      
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Weight</label></div>
        <div style="margin-top:20px" class="col-sm-5 ">
           <span class="spnText showInit" id="spnWeight"></span>
             
        </div>
     
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Length</label></div>
        <div style="margin-top:20px" class="col-sm-5 ">
           <span class="spnText showInit" id="spnLength"></span>
              
        </div>
       
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Width</label></div>
        <div style="margin-top:20px" class="col-sm-5 ">
            <span class="spnText showInit" id="spnWidth"></span>
               
        </div>
      
    </div>
    <div class="row divRowParent">
        <div class="col-sm-1"></div>
        <div style="margin-top:20px" class="col-sm-4"> <label class="col-form-label">Height</label></div>
        <div style="margin-top:20px" class="col-sm-5 ">
           <span class="spnText showInit" id="spnHeight"></span>
             
        </div>
     
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div style="margin-top:10px" class="col-sm-4"> <label class="col-form-label">One Time Product</label></div>
        <div style="margin-top:10px" class="col-sm-5 "><span class="spnText"><input type="checkbox" id="ckOneTimePrdView" disabled /></span></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div style="margin-top:10px" class="col-sm-4"> <label class="col-form-label">Is Suitable for Channels</label></div>
        <div style="margin-top:10px" class="col-sm-5 "><input type="checkbox" id="ckStChnView" class="" disabled /></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div style="margin-top:10px" class="col-sm-4"> <label class="col-form-label">Is Suitable for Website</label></div>
        <div style="margin-top:10px" class="col-sm-5 "><input type="checkbox" class="" id="ckStWebView" disabled /></div>

    </div>
  
</div>