
@{
    ViewBag.Title = "InvalidUserName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<p>The email provided does not exist in the system. Please try again or create a new user.</p>
<br />
<a href="Register">New user?</a>
<br />
<a href="ResetPassword">Forgot password?</a>


