
@{
    ViewBag.Title = "ResetPasswordError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<p>An error occurred while resetting password please try again. If issue persists please contanct system admin.</p>
<br />
<a href="Register">New user?</a>
<br />
<a href="ResetPassword">Forgot password?</a>


