
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<legend>Reset Password</legend>
<form method="post" action="/Account/ResetPassword">
    <br /><br />
    <table cellpadding="3">

        <tr>

            <td>Email&nbsp;</td>

            <td>

                <input type="text" class="form-control" required name="UserName" />
            </td>

        </tr>
        <tr>

            <td colspan="2" align="right">
                <br />
                <input type="submit" class="btn btn-primary" value="Reset Password">
            </td>

        </tr>
    </table>
</form>


